@charset "utf-8";

.tooltip-red {
    padding: 5px;
    margin: 0px;
    background-color: #C00;
    color: white;
    font-size: 12px;
    z-index: 100;
}

.tooltip_container {
    width: 250px;
}

/* Tooltip Links */
a.tooltip {
    margin: 0px;
}

a:hover.tooltip {
    text-decoration: none;
    cursor: pointer;
}