@charset "utf-8";

#form1 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#mis11 {
    width: 22px;
    vertical-align: top;
}

#mis12 {
    vertical-align: top;
}

#mis2 {
    vertical-align: top;           
}

#mis21 {
    width: 22px;
}
#mis22 {
    width: 182px;
}
#mis23 {
    width: 22px;
}
#mis25 {
    width: 22px;
}
#mis26 {
    width: 130px;
    text-align:right;
}